---
title: Home
---

%header
  = render '/partials/topbar.*'
%main(role="main")
  %section#spotlight
    .row
      .columns.text-center
        %h2.subheader A Scalable Platform for Network Forensics
    .row.align-center
      .columns.medium-8
        .orbit(role="showcase" aria-label="VAST Highlights" data-orbit)
          %ul.orbit-container
            %button.orbit-previous
              %span.show-for-sr Previous Slide
              &#9664;&#xFE0E;
            %button.orbit-next
              %span.show-for-sr Next Slide
              &#9654;&#xFE0E;
            %li.orbit-slide.is-active
              %img.orbit-image(src="images/visibility.jpg")
              %figcaption.orbit-caption
                Visibility...
            %li.orbit-slide
              %img.orbit-image(src="images/across.jpg")
              %figcaption.orbit-caption
                \...Across...
            %li.orbit-slide
              %img.orbit-image(src="images/space.jpg")
              %figcaption.orbit-caption
                \...Space...
            %li.orbit-slide
              %img.orbit-image(src="images/time.jpg")
              %figcaption.orbit-caption
                \...and Time
          %nav.orbit-bullets
            %button.is-active(data-slide="0")
              %span.show-for-sr
                First slide details.
              %span.show-for-sr
                Current slide
            %button(data-slide="1")
              %span.show-for-sr
                Second slide details.
            %button(data-slide="2")
              %span.show-for-sr
                Third slide details.
            %button(data-slide="3")
              %span.show-for-sr
                Third slide details.
  %section#features
    .row
      .columns.text-center
        %h1 Features
    .row(data-equalizer data-equalize-on="medium")
      .medium4.columns
        .callout.large.primary(data-equalizer-watch)
          .text-center
            %i.fa.fa-heartbeat.fa-4x
          :markdown
            **Interactive**. VAST is designed to answer complex queries in
            sub-second latencies, allowing incident responders and threat
            hunters to quickly achieve their tasks with maximum productivity.
      .medium4.columns
        .callout.large.primary(data-equalizer-watch)
          .text-center
            %i.fa.fa-cubes.fa-4x
          :markdown
            **Scalable**. VAST harnesses all available CPU cores in your
            machine and transparently scales to cluster of commodity machines.
            To this end, VAST leverages the [C++ Actor
            Framework](http://www.actor-framework.org) as high-performance
            message-passing runtime.
      .medium4.columns
        .callout.large.primary(data-equalizer-watch)
          .text-center
            %i.fa.fa-language.fa-4x
          :markdown
            **Expressive**. To describe activity, VAST offers a rich-typed data
            model to avoid loss of critical semantics. The type-safe query
            language enables flexible query operations (e.g., top-k IP prefix
            search, set membership) and type-specific performance optimizations.
  %hr
  %section#resources
    .row
      .columns.text-center
        %h1 Resources
    / Download
    .row.align-middle#download
      .columns.text-center
        %i.fa.fa-download.fa-5x
      .columns.medium-8
        .callout.large.secondary
          %h3 Download
          %p
            Unfortunately we don't have an official release yet, but we are
            scrambling hard to provide an alpha version soon. Stay tuned!
    / Documentation
    .row.align-middle#documentation
      .columns.text-center
        %i.fa.fa-book.fa-5x
      .columns.medium-8
        .callout.large.secondary
          %h3 Documentation
          :markdown
            Since VAST is still in a fledgling stage, we do not have technical
            documentation available at this point. Meanwhile, our [conference
            paper](#{@config[:vast][:paper]}) offers a good introduction and
            the corresponding [dissertation](#{@config[:vast][:thesis]})
            comprehensive coverage about the design and implementation.
    / Community
    .row.align-middle#community
      .columns.text-center
        %i.fa.fa-users.fa-5x
      .columns.medium-8
        .callout.large.secondary
          %h3 Community
          :markdown
            While we are developing VAST, we want to stay in touch with you and
            seek an active exchange. After all, *you* will be using it and we
            are working hard to deliver you a satisfying solution.
            These are the various channels to reach us:
          / Chat
          .row
            .columns.text-center
              %a(href="#{@config[:vast][:chat][:vast]}")
                %i.fa.fa-commenting.fa-3x
            .columns.medium-10
              :markdown
                **Chat**. We actively engage. If you have direct questions for
                the developers of VAST, join our [Gitter
                chat](#{@config[:vast][:chat][:vast]}). As die-hard C++ fans,
                we also have dedicated [C++
                channel](#{@config[:vast][:chat][:cpp]}).
          / GitHub
          .row
            .columns.text-center
              %a(href="#{@config[:vast][:github][:project]}")
                %i.fa.fa-github.fa-3x
            .columns.medium-10
              :markdown
                **GitHub**. We share our work. VAST ships with a permissive
                3-clause BSD license. If you have trouble with the code, please
                do not hesitate to file an issue at [our
                tracker](#{@config[:vast][:tracker]}).
          / Twitter
          .row
            .columns.text-center
              %a(href="#{@config[:vast][:twitter]}")
                %i.fa.fa-twitter.fa-3x
            .columns.medium-10
              :markdown
                **Twitter**. We spread the word. You can follow
                [@vast_io](#{@config[:vast][:twitter]}) where we will
                periodically post noteworthy tidbits about VAST.
          / Mailing lists
          .row
            .columns.text-center
              %a(href="#{@config[:vast][:email][:list]}")
                %i.fa.fa-envelope.fa-3x
            .columns.medium-10
              :markdown
                **Mailing Lists**. We communicate.  To reach the community,
                send an email to our [mailing
                list]([#{@config[:vast][:email][:list]}). Our commit diffs ship
                to a [separate mailing
                list](#{@config[:vast][:email][:commits]}). If you can't find
                answer anywhere, you can always send an email to
                <#{@config[:vast][:email][:info]}>.
  %hr
  %section#about
    .row
      .columns.text-center
        %h1 About
    / Origin
    .row.align-middle
      .columns.medium-8
        .callout.large.success
          %h3 History
          :markdown
            VAST means to address a deep-running operational need of
            large-scale network monitoring and incident response: archiving and
            searching massive amounts of structured data interactively in an
            expressive manner.

            In 2008, researchers at the [International Computer Science
            Institute (ICSI)](http://www.icsi.berkeley.edu) formulated
            [Principles for Developing Comprehensive Network
            Visibility](http://www.icir.org/mallman/pubs/AKP+08/AKP+08.pdf),
            which lead to the inception of VAST as an academic feasibility study.
            After exploring these concepts extensively in a master's thesis and
            Ph.D. dissertation, VAST has bridged the gap from theory into
            practice. Today, [Matthias
            Vallentin](http://matthias.vallentin.net) leads the development of
            VAST in his post-doctoral appointment at UC Berkeley.
      .columns.text-center
        %i.fa.fa-graduation-cap.fa-5x
    / Funding
    .row.align-middle
      .columns.medium-8
        .callout.large.success
          %h3 Funding
          :markdown
            The [Signatures Innovation Fellows
            Program](http://vcresearch.berkeley.edu/signatures/about) funds the
            post-doctoral position that enables VAST to move forward. This
            program supports innovative research from UC Berkeley faculty that
            hold commercial promise. We are grateful for their support.
      .columns.text-center
        %i.fa.fa-usd.fa-5x
    / Academic Reference
    .row.align-middle
      .columns.medium-8
        .callout.large.success
          %h3 Academic Reference
          :markdown
            When citing VAST in an academic context, please reference our
            [conference paper](#{@config[:vast][:paper]}) as follows:
          %pre
            :preserve
              @InProceedings{nsdi16:vast,
                author    = {Matthias Vallentin and Vern Paxson and Robin Sommer},
                title     = {{VAST: A Unified Platform for Interactive Network Forensics}},
                booktitle = {Proceedings of the USENIX Symposium on Networked Systems
                             Design and Implementation (NSDI)},
                month     = {March},
                year      = {2016}
              }
      .columns.text-center
        %i.fa.fa-retweet.fa-5x
%footer
  = render '/partials/footer.*'
