---
title: Home
---

%header
  = render '/partials/topbar.*'
%main(role="main")
  %section#spotlight
    .row
      .columns.text-center
        %h2.subheader A Scalable Platform for Network Forensics
    .row.align-center
      %img.orbit-image(src="images/space-time.jpg" alt="Space-Time")
  %section#features
    .row
      .columns.text-center
        %h1 Features
    .row.medium-unstack(data-equalizer data-equalize-on="medium")
      .columns
        .callout.dynamic.primary(data-equalizer-watch)
          .text-center
            %i.fa.fa-heartbeat.fa-4x
          .text-justify
            :markdown
              **Interactive**. VAST is designed to answer complex queries in
              sub-second latencies, allowing incident responders and threat
              hunters to quickly achieve their tasks with maximum productivity.
      .columns
        .callout.dynamic.primary(data-equalizer-watch)
          .text-center
            %i.fa.fa-cubes.fa-4x
          .text-justify
            :markdown
              **Scalable**. VAST harnesses all available CPU cores in your
              machine and transparently scales to a cluster of commodity
              machines. To this end, VAST leverages the [C++ Actor
              Framework](http://www.actor-framework.org) as high-performance
              message-passing runtime.
      .columns
        .callout.dynamic.primary(data-equalizer-watch)
          .text-center
            %i.fa.fa-language.fa-4x
          .text-justify
            :markdown
              **Expressive**. To describe activity, VAST offers a rich-typed
              data model to avoid loss of critical semantics. The type-safe
              query language enables flexible query operations (e.g., top-k IP
              prefix search, set membership) and type-specific performance
              optimizations.
  %hr
  %section#resources
    .row
      .columns.text-center
        %h1 Resources
    / Download
    .row.align-middle#download
      .columns.medium-4.show-for-large.text-center
        %i.fa.fa-download.fa-5x
      .columns.text-justify
        .callout.dynamic.secondary
          %h3 Download
          %p
            Unfortunately we don't have an official release yet, but we are
            scrambling hard to provide an alpha version soon. Stay tuned!
    / Documentation
    .row.align-middle#documentation
      .columns.medium-4.show-for-large.text-center
        %i.fa.fa-book.fa-5x
      .columns.text-justify
        .callout.dynamic.secondary
          %h3 Documentation
          :markdown
            Since VAST is still in a fledgling stage, we do not have technical
            documentation available at this point. Meanwhile, our [conference
            paper](#{@config[:vast][:paper]}) offers a good introduction and
            the corresponding [dissertation](#{@config[:vast][:thesis]})
            comprehensive coverage about the design and implementation.
    / Community
    .row.align-middle.text-justify#community
      .columns.medium-4.show-for-large.text-center
        %i.fa.fa-users.fa-5x
      .columns
        .callout.dynamic.secondary
          %h3 Community
          :markdown
            While we are developing VAST, we want to stay in touch with you
            and seek an active exchange. After all, *you* will be using it
            and we are working hard to deliver you a satisfying solution.
            These are the various channels to reach us:
          / Chat
          .row
            .columns.medium-2.show-for-medium.text-center
              %a(href="#{@config[:vast][:chat][:main]}")
                %i.fa.fa-commenting.fa-3x
            .columns
              :markdown
                **Chat**. We actively engage. If you have direct questions for
                the developers of VAST, join our [Gitter
                chat](#{@config[:vast][:chat][:main]}).
          / GitHub
          .row
            .columns.medium-2.show-for-medium.text-center
              %a(href="#{@config[:vast][:github][:project]}")
                %i.fa.fa-github.fa-3x
            .columns
              :markdown
                **GitHub**. We share our work. VAST ships with a permissive
                3-clause BSD license. If you have trouble with [the
                code](#{@config[:vast][:github][:project]}), please
                do not hesitate to file an issue at [our
                tracker](#{@config[:vast][:tracker]}).
          / Twitter
          .row
            .columns.medium-2.show-for-medium.text-center
              %a(href="#{@config[:vast][:twitter]}")
                %i.fa.fa-twitter.fa-3x
            .columns
              :markdown
                **Twitter**. We spread the word. You can follow
                [@vast_io](#{@config[:vast][:twitter]}) where we will
                periodically post noteworthy tidbits about VAST.
          / Mailing lists
          .row
            .columns.medium-2.show-for-medium.text-center
              %a(href="#{@config[:vast][:email][:list]}")
                %i.fa.fa-envelope.fa-3x
            .columns
              :markdown
                **Mailing Lists**. We communicate.  To reach the community,
                send an email to our [mailing
                list]([#{@config[:vast][:email][:list]}). Our commit diffs ship
                to a [separate mailing
                list](#{@config[:vast][:email][:commits]}). If you can't find
                answer anywhere, you can always send an email to
                <#{@config[:vast][:email][:info]}>.
  %hr
  %section#about
    .row
      .columns.text-center
        %h1 About
    / Origin
    .row.align-middle.text-justify
      .columns
        .callout.dynamic.primary
          %h3 History
          :markdown
            VAST means to address a deep-running operational need of
            large-scale network monitoring and incident response: archiving and
            searching massive amounts of structured data interactively in an
            expressive manner.

            In 2008, researchers at the [International Computer Science
            Institute (ICSI)](http://www.icsi.berkeley.edu) formulated
            [Principles for Developing Comprehensive Network
            Visibility](http://www.icir.org/mallman/pubs/AKP+08/AKP+08.pdf),
            which lead to the inception of VAST as an academic feasibility study.
            After exploring these concepts extensively in a master's thesis and
            Ph.D. dissertation, VAST has bridged the gap from theory into
            practice. Today, [Matthias
            Vallentin](http://matthias.vallentin.net) leads the development of
            VAST in his [post-doctoral appointment at UC Berkeley](http://vcresearch.berkeley.edu/news/signatures_paxson_vallentin).
      .columns.medium-4.show-for-large.text-center
        %i.fa.fa-graduation-cap.fa-5x
    / Funding
    .row.align-middle
      .columns
        .callout.dynamic.primary
          %h3 Funding
          :markdown
            The [Signatures Innovation Fellows
            Program](http://vcresearch.berkeley.edu/signatures/about) supports
            the post-doctoral position that enables VAST to move forward. This
            program supports innovative research from UC Berkeley faculty that
            hold commercial promise. We are grateful for their support.
      .columns.medium-4.show-for-large.text-center
        %i.fa.fa-usd.fa-5x
%footer
  = render '/partials/footer.*'
