%hr
.row
  .columns.text-center
    %p
      %i.fa.fa-copyright
      = Date.today.year
      = @config[:site][:author]
.row
  .columns.text-center
    %p
      %a(href="#{@config[:vast][:chat][:main]}")
        %i.fa.fa-commenting
      %a(href="#{@config[:vast][:github][:organization]}")
        %i.fa.fa-github
      %a(href="#{@config[:vast][:twitter]}")
        %i.fa.fa-twitter
      %a(href="mailto:#{@config[:vast][:email][:info]}")
        %i.fa.fa-envelope
